@model Product.Entity.ProductData

@{
    ViewBag.Title = "AddProdcut";
}

<h2>AddProdcut</h2>




@using (Html.BeginForm("AddProdcut", "Index", FormMethod.Post))
{

    <table>
        <tr>


            <td>  ProductId        :</td>
            <td> @Html.TextBoxFor(Model => Model.ProductId) </td>
        </tr>
        <tr>
            <td>ProductName      :</td>
            <td> @Html.TextBoxFor(Model => Model.ProductName) </td>
        </tr>
        <tr>
            <td>ProductPrice     :</td>
            <td> @Html.TextBoxFor(Model => Model.ProductPrice) </td>
        </tr>
        <tr>
            <td>   ProductQuantity  :</td>
            <td> @Html.TextBoxFor(Model => Model.ProductQuantity) </td>
        </tr>

        <tr>
            <td>
                <input type="submit" />
            </td>
        </tr>

    </table>

}